.Footer-container{
    background-color: rgb(218, 156, 81);
    width: 90%;
    display: flex;
    justify-content: center;
}

.footer-subcontainer{
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    width: 90%;
    align-items: center;
    justify-content: center;
}

.footer-enlace{
    /* background-color: rgb(128, 235, 235); */
    text-align: center;
}

.footer-enlace:hover{
    color: blue;
    cursor: pointer;
}



@media (max-width: 480px) {

    .Footer-container{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    .footer-subcontainer{
        gap: 10px;
    }
    
    .footer-enlace{

    }
    
    .footer-enlace:hover{
    }
  
}



@media only screen and (min-width: 481px) and (max-width: 767px) {

    .Footer-container{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
    .footer-subcontainer{
        gap: 15px;
    }
    
    .footer-enlace{

    }
    
    .footer-enlace:hover{
    }

}



@media only screen and (min-width: 768px) and (max-width: 959px) {

    .Footer-container{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    
    .footer-subcontainer{
        gap: 20px;
    }
    
    .footer-enlace{

    }
    
    .footer-enlace:hover{
    }

}



@media only screen and (min-width: 960px) and (max-width: 1199px) {

    .Footer-container{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    .footer-subcontainer{
        gap: 25px;
    }
    
    .footer-enlace{

    }
    
    .footer-enlace:hover{
    }

}



@media only screen and (min-width: 1200px) {

    .Footer-container{
        padding-top: 60px;
        padding-bottom: 60px;
    }
    
    .footer-subcontainer{
        gap: 30px;
    }
    
    .footer-enlace{

    }
    
    .footer-enlace:hover{
    }


    
}
  
  